@import '~antd/dist/antd.css';

html, body{
    /*min-height: 100% !important;*/
    height: 100%;

}

#app{
    height: 100%;
}

.layout{
    height: 100%;
}

.header{
    display:flex;
    flex-direction:row;
    line-height: 43px;
}

.header-title{
    color: #d8d8d8;
    font-size: 1.2em;
    font-family: Arial;

}


.paper-title{
    color: #787878;
    font-size: 1.2em;
    font-family: Arial;
    font-style: italic;
    margin-left:auto;
    margin-right:0;
}

.view{
    border: solid 1px #c7cabb;
    border-radius: 5px;
    padding: 5px;
    height: 100%;

}

.view1_title{
    fill: #6c6c6c;
    font-size: 1em;
    font-family: Arial;
}

.view1_title:hover {
    fill: #1b1d1d;
    text-decoration-line: underline;
    cursor: pointer;
}

#svg_view{
    height: 100% ;
}

#svg_container_1{

    height: 100%;
    max-width: 670px;
    overflow-x: auto;/*TODO*/
}

#svg_container_2{
    max-width: 780px;
}

#container_1{
    position: absolute;
    left: 0px;
    height: 100%;
}

.control-panel{
    border: solid 1px #808080;
    border-radius: 8px;
    margin: 0 5px;
    /*background-color: #f9f9f9;*/
}

.control-panel-form{
    /*background-color: #f9f9f9;*/
}

#container_2{
    position: absolute;
    left: 650px;
}

.display-none{
    display: none;
}

.circle_gate_source{
    display: none;
}


.circle_gate_target{
    display: none;
}


.lineSegment_gate{
    display: none;
}

.linkpath23 {
    fill: none;
    stroke-opacity: 0.6;
    stroke-width: 8px;
}


.linkpath_vert {
    fill: none;
    stroke: #000000;
    stroke-opacity: 1;
    stroke-width: 1px;
}

.link12{
    fill: none;
    stroke: #1890ff;
    stroke-opacity: 0.3;
    stroke-width: 12px;
}

#link12{
    position: absolute;
    height: 100%;
    left: 590px;
}

#link12_svg_container{
    height: 100%;
}

.ref_line{
    stroke: #af5d60;
    stroke-dasharray: 2;
    stroke-width: 2px;
}

.view3_ref{
    opacity: 0.3;
}

.view3_block_for_click{
    cursor: pointer;
    stroke: #9d9d9d;
    stroke-width: 2px;
}

.view3_block_for_click:focus{
    stroke-width: 6px;

}
