@import '~antd/dist/antd.css';

html, body{
    /*min-height: 100% !important;*/
    height: 100%;

}

#app{
    height: 100%;
}

.layout{
    height: 100%;
}

.header{
    display:flex;
    flex-direction:row;
    line-height: 50px;
}

.header-title{
    color: #d8d8d8;
    font-size: 1.2em;
    font-family: Arial;

}


.paper-title{
    color: #787878;
    font-size: 1.2em;
    font-family: Arial;
    font-style: italic;
    margin-left:auto;
    margin-right:0;
}

.view{
    border: solid 1px #c7cabb;
    border-radius: 5px;
    padding: 5px;
    height: 100%;

}

#svg_view{
    height: 100% ;
}

#svg_container_1{
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    max-width: 450px;
}

#svg_container_2{
    max-width: 780px;
}

#container_1{
    position: absolute;
    left: 0px;
    height: 100%;
}

#container_2{
    position: absolute;
    left: 630px;
}

.display-none{
    display: none;
}

.circle_gate_source{
    display: none;
}


.circle_gate_target{
    display: none;
}


.lineSegment_gate{
    display: none;
}

.linkpath23 {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.3;
    stroke-width: 6px;
}